.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  
/* shared styles */


/* nav styles */
*{
  background-color:#F1F1F3;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-title{
  font-weight: bold;
  font-size: 32px;
}
nav li{
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}
.btn{
  padding: 15px 30px;
  border-radius: 8px;
  color: #006A50;
  border-color: #006A50;
}
/* Banner styles */
.banner-title{
  color: #006A50;
  background-color: #C6E4D6;
}
.banner-description{
  font-weight: bold;
  font-size: 56px;
  background-color:#C6E4D6 ;
  
}
.btn-2{
  padding: 17px 34px;
  border-radius: 8px;
  background-color: #006A50;
  color: white;
  font-weight: bold;
  font-size: 18px;

}
.banner-pic{
  width: 475px;
  background-color: #C6E4D6;

}
.banner{
  display: flex;
  margin: 205px 0px 300px 200px;
  justify-content: center;
  background-color: #C6E4D6;
  height: 520px;
  width: 1280px;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;

}
.banner-content{
  background-color: #C6E4D6;
}